:root{
  --Primary:#FF6F61;
  --secondary:#D3D3D3;

}

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Almarai,poppinsregular,Arial;
}
span{
  color:var(--Primary);
  font-weight:900;
}
