.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.error-message {
  color: red;
  font-weight: bold;
}

.post {
  width: 50%;
  margin: auto;
  border:1px solid rgb(212, 211, 211) ;
  border-radius: 25px;
  margin-top:"20px"; 
   margin-bottom: 30px;
   padding: 20px;
}

.post-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-content {
  margin-top: 10px;
  color: #555;
}

.post-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin:"auto";
  border-radius: 5px;
}
.favorite-button{
  background-color:white;
  border: none;
  color:#0566ab;
  cursor: pointer;
}